[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
minio = "*"
pillow = "*"
psycopg2-binary = "*"
django-redis = "*"
celery = "*"
redis = "*"
loguru = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
